/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  /* .header__decoration {
    display: flex;
    justify-content: flex-end;
    padding-inline-end: 30px;
    padding-block-start: 12px;
    text-transform: uppercase;
    color: var(--accent-color);
    block-size: 73px;
  }

  .header__decoration::after {
    content: '';
    position: absolute;
    right: 20px;
    top: 18px;
    inline-size: 9px;
    block-size: 9px;
    border-radius: 100%;
    box-shadow: 0px 0px 7px 4px var(--accent-color);
    background-color: var(--accent-color);
  }
  
  .header__decoration::before {
    content: 'REC';
    position: absolute;
    right: 40px;
    top: 10px;
  }

  @media (width >= 768px) {
    .header__decoration {
      padding-block-start: 21px;
      padding-inline-end: 48px;
      font-size: 20px;
      block-size: 191px;
    }
    
    .header__decoration::after {
      top: 28px;
      right: 30px;
    }
  
    .header__decoration::before {
      content: 'REC';
      position: absolute;
      right: 50px;
      top: 20px;
    }  
  }
  
  @media (width >= 1024px) { 
    .header__decoration::before {
      content: 'REC';
      position: absolute;
      right: 50px;
      top: 20px;
    }
  } */
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
/* 
  .header__decoration::after {
    content: '';
    position: absolute;
    right: 20px;
    top: 18px;
    inline-size: 9px;
    block-size: 9px;
    border-radius: 100%;
    box-shadow: 0px 0px 7px 4px var(--accent-color);
    background-color: var(--accent-color);
  }
  
  .header__decoration::before {
    content: 'REC';
    position: absolute;
    right: 40px;
    top: 10px;
  }
  .header__title {
    color: var(--font-title-color);
    
  } */
}
