/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  font-family: var(--font-family-main);
  font-size: var(--font-size-paragraph);
  font-weight: var(--font-weight-paragraph);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

/* ДЕКОРАЦИЯ REC */
.header {
  position: relative;
  grid-template-columns: 1fr auto;
  /* min-block-size: 668px; */
  container-type: inline-size;
  background-image: var(--cover-image);
  padding-inline: var(--padding-body);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

@media (width >= 768px) {
  .header {
    padding-inline: 0;
  }
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  position: absolute;
}

.decorated-zone::before {
  
  border: 1px solid var( --accent-color);
  border-bottom: transparent;
  border-left: transparent;
  top: 10px;
  right: var(--padding-body);

}

.decorated-zone::after {

  border: 1px solid var( --accent-color);
  border-top: transparent;
  border-right: transparent;
  bottom: 10px;
  left: 10px;

}

.header__decoration {
  display: grid;
  font-size: 18px;
  grid-column: 2;
  justify-content: flex-end;
  padding-block-start: 13px;
  padding-inline-end: calc(var(--padding-body) + 20px);
  text-transform: uppercase;
  color: var(--accent-color);
}

.header__decoration::after {
  content: '';
  position: absolute;
  right: calc(var(--padding-body) + 10px);
  top: 18px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 100%;
  box-shadow: 0px 0px 7px 4px var(--accent-color);
  background-color: var(--accent-color);
}

@media (width >= 768px) {
  .decorated-zone::before {
    top: calc(var(--padding-body) + 10px);
  }

  .decorated-zone::after {
    left: calc(var(--padding-body) + 10px);
    bottom: calc(var(--padding-body) + 10px);
  }

  .header__decoration {
    padding-block-start: 23px;
    padding-inline-end: 40px;
  }

  .header__decoration::after {
    top: 28px;
  }
}

@media (width >= 1024px) {
  .decorated-zone::after {
    left: 10px;
    bottom: 10px;
  }

}


/* .header__decoration::before {
  content: 'REC';
  color: var(--accent-color);
  font-size: var(--font-size-decoration);
  display: flex;
  position: absolute;
  right: var(--padding-body);
  margin-inline-end: -10px;
  margin-block-start: -10px;
} */

  /* МЕНЮ */

.header__theme-menu {
  display: grid;
  grid-column: 2;
  grid-row: 2;
  padding-block-start: 43px;
  justify-content: flex-end;
  color: var(--accent-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-button {
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  padding-inline: 13px;
  letter-spacing: 1px;
}

.header__theme-menu-item:last-child {
  border: 1px solid var(--accent-color);
}

@media (width >= 768px) {
  .header__theme-menu {
    padding-block-start: calc(146px + 4px);
    block-size: 355px;
    padding-inline-end: calc(var(--padding-body) - 2px);
  }
}

  /* ТАЙТЛ */

.header__title {
  font-size: 7.25rem;
  font-weight: bold;
  text-shadow: 4px 4px 0 var(--accent-color);
  padding-block-start: 70px;
}

.header__line {
  display: block;
  line-height: 5.98rem;
}

.header__line:last-child {
  padding-left: 15px;
  letter-spacing: 6px;
}

@media (width >= 768px) {
  .header__title {
    display: flex;
    gap: 80px;
    block-size: 271px;
  }
}

 /* @container (width >= 768px) {
  .header__title {
    display: inline-;
    padding-block-start: 173px;
    padding-block-end: 163px;
  } */


  /* САБТАЙТЛ */

.header__subtitle-question {
  display: grid;
  /* margin-inline-end: 10px; */
  /* max-inline-size: 491px;
  /* justify-content: flex-end; */
  margin-block-start: 54px;
  line-height: 23.4px;
  letter-spacing: 0.5px; 
  margin-bottom: 66px;
  background-color: var(--accent-color);
}

.header__subtitle p {
  padding-inline-end: 15px;
}

@media (width >= 768px) {
  .header__subtitle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-inline-end: 10px;
    /* margin-block-end: 105px; */
    margin-block-end: 115px;

  }
  .header__subtitle-question {
    grid-column: 2;
    padding-block-start: 2px;
    margin-inline-start: 10px;
    word-spacing: 4px;
    
  }
}

.header__subtitle p {
  min-inline-size: 20rem;
}

.faq {
  background-color: #000028;
}

.faq__question {
  color: var(--accent-color);
  font-size: 18px;
}