/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: grid;
  grid-template-columns: 1fr;
  font-family: var(--font-family-main);
  font-size: var(--font-size-paragraph);
  font-weight: var(--font-weight-paragraph);
  background-color: var(--bg-color);
  background-image: var(--cover-image);
  /* padding-inline: var(--padding-body); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  display: grid;
  grid-template-rows: auto auto auto;
  position: relative;
  container-type: inline-size;
  padding-inline-start: 10px;
  min-inline-size: 375px;
}

/* rec */

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  inline-size: 25px;
  block-size: 25px;
  position: absolute;
}

.decorated-zone::after {
  border: 1px solid var( --accent-color);
  border-bottom: transparent;
  border-left: transparent;
  top: 10px;
  right: 10px;
}

.decorated-zone::before {
  border: 1px solid var( --accent-color);
  border-top: transparent;
  border-right: transparent;
  bottom: 10px;
  left: 10px;
}


.header__decoration {
  block-size: 73px;
}

.header__decoration::after {
  content: '';
  position: absolute;
  right: 20px;
  top: 18px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 100%;
  box-shadow: 0px 0px 7px 4px var(--accent-color);
  background-color: var(--accent-color);
}

.header__decoration::before {
  content: 'REC';
  color: var(--accent-color);
  font-size: 18px;
  position: absolute;
  right: 38px;
  top: 12px;

}

 /* .header__decoration::after {
  content: '';
  position: absolute;
  right: 20px;
  top: 18px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 100%;
  box-shadow: 0px 0px 7px 4px var(--accent-color);
  background-color: var(--accent-color);
}

.header__decoration::before {
  content: 'REC';
  position: absolute;
  right: 40px;
  top: 10px;
}  */

  /* Меню */

.header__theme-menu {
  display: grid;
  justify-content: flex-end;
  color: var(--menu-color);
  block-size: 166px;
  padding-inline: 20px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-inline-start: 13px;
}

.header__theme-menu-button {
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  outline: none;
}

.header__theme-menu-button:last-child {
  padding-block-start: 1px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--active-color);
  pointer-events: none
}

  /* Тайтл */

.header__title {
  display: flex;
  color: var(--font-title-color);
  font-size: var(--font-size-title);
  font-weight: bold;
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: var(--font-lh-h1);
  block-size: 246px;
}

/* Сабтайтл */



.header__subtitle-question {
  display: grid;
  margin-inline-end: 10px;  
  margin-block-end: 66px;
  line-height: var(--font-line-height);
  background-color: var(--accent-color);
}

.header__subtitle p {
  min-inline-size: 20rem;
}

/* main */

.main {
  padding-block-start: 40px;
  display: flex;
  flex-direction: column;
  padding-inline-start: 10px;
  padding-inline-end: 10px;

  /* gap: 47px; */
}

/* faq */

.faq__section {
  padding-block-end: 32px;
}

.faq__text {
  display: inline-block;
  color: var(--faq-text-color);
  line-height: 23.4px;
  padding-block: 10px 20px;
}

/* .text-wrap {
  display: inline-block;
  color: var(--faq-text-color);
  min-inline-size: 350px;
  word-wrap: break-word;
  white-space: normal;
} */



.faq__section:nth-of-type(2) {
  margin-block: -3px;
}

.faq__question {
  color: var(--accent-color);
  font-size: 12px;
  font-weight: bold;
  line-height: 23.4px;
  block-size: 68px;
  inline-size: 350px;
}

/* .faq__section:nth-of-type(2)
.faq__question:nth-child(1) {
  font-size: 13px;
  margin-block: -5px;
}

.faq__section:nth-of-type(2)
.faq__text {
  word-spacing: 0;
}

.faq__section:nth-of-type(3)
.faq__question:nth-child(1) {
  font-size: 13px;
  margin-block: -5px;
  block-size: 1007px;
}

.faq__section:nth-of-type(3)
.faq__title:nth-child(1) {
  word-spacing: 0;
}


.faq__subtitle {
  background-color: var(--accent-color);
  font-weight: 400;
  color: var(--bg-color);
  line-height: 23.4px;
}

*/

.faq__section:nth-of-type(3)
.faq__question {
  margin-block-end: 22px;
}

.faq__answer:nth-child(2)
.faq__subtitle {
  margin-top: 20px;
}


.letter_spacing {
  word-spacing: 4px;
}

.faq:nth-child(2) {
  margin-top: -2px;
}

.gallery__title {
  background-color: var(--accent-color);
  color: var(--bg-color);
  font-weight: bold;
  line-height: 23.4px;
  font-size: 18px;
}

.gallery__list {
  display: grid;
  grid-template-rows: 145px 355px 237px 355px 237px;
  gap: 10px;
  padding-block-start: 10px;
}

.gallery__image {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

.gallery__item:nth-child(1) {
  grid-row: 1;
}

/* footer */

.footer {
  block-size: 666px;
  display: grid;
  grid-row: 1fr 1fr;
  justify-content: center;
  margin-block-start: 40px;
}

.footer__title {
  grid-row: 2;
  font-size: clamp(7.2rem, 3.771rem + 9.143vw, 12rem);
  color: var(--accent-color);
}



.link {
  text-decoration: none;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.link:hover {
  border: 1px solid var(--link-focus-color);
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  cursor: pointer;
}

.link:focus-within {
  outline: 1px solid var(--link-focus-color);
}

.header__theme-menu-button:hover {
  cursor: pointer;
  outline: 1px solid var(--menu-item-hover-color);

}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--menu-item-focus-color);
}