@media (width >= 768px) {

  .decorated-zone::before {
    left: 20px;
    bottom: var(--decorated-zone-padding-bottom);
  }

  .decorated-zone:nth-of-type(2) {
    --decorated-zone-padding-bottom: 20px;
  }
  
  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }
  
   .header__decoration {
    padding-block-start: 21px;
    padding-inline-end: 48px;
    font-size: 20px;
    block-size: 191px;
  }
  
  .header__decoration::after {
    top: 28px;
    right: 30px;
  }

  .header__decoration::before {
    content: 'REC';
    position: absolute;
    right: 50px;
    top: 20px;
  }


  /* Меню */
  
  .header__theme-menu {
    block-size: 265px;
    padding-inline-end: 20px;
  }

.header__theme-menu-button {
  inline-size: 70px;
}

  .header__theme-menu-item:last-child {
    margin-block-start: -2px;
  }
  

  /* title */

  .header__title {
    letter-spacing: 3px;
    margin-inline-start: -10px;
    font-size: 7.2rem;
  }

  
  
  /* subtitle */
  
  .header__subtitle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-block-start: 22px;
    padding-inline-end: 10px;
    block-size: 323px;
  }
  
  .header__subtitle-question {
    grid-column: 2;
    width: 364px;
    height: 117px;
  }
  
  /* main */
  
  .main {
  padding-block-start: 30px;
  display: flex;
  flex-direction: column;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  
}

.faq__answer:nth-child(1) {
  padding-bottom: 50000px;
}

  /* faq */
  


.text-wrap {
  display: inline-flex;

}

.faq__section:first-of-type {
  display: grid;
  grid-template-columns: 0.55fr 1fr;
  padding-block-start: 30px;
}

  
  .faq__section:first-of-type
  .faq__question {
    inline-size: 236px;
  }

  .faq__section:first-of-type
  .faq__answer {
    grid-column: 2;
  }

  .faq__section:nth-of-type(2) {
    padding-block-start: 30px;
  }

  .faq__section:nth-of-type(2)
  .faq__question {
    inline-size: 136px; 
  }

  .faq__section:nth-of-type(2)
  .faq__answer:nth-child(1) {
    margin-block-start: 20px;
  }

  .faq__section:nth-of-type(2)
  .faq__answer:nth-child(2) {
    margin-block-start: 25px;
  }

  .faq__section:nth-of-type(2)
  .faq__answer:nth-child(3) {
    margin-block-start: -4px;
  }

  .faq__section:nth-child(3){
    display: grid;
    grid-template-columns: 0.55fr 1fr;
    padding-block-start: 35px;
  }

  .faq__section:nth-child(3)
  .faq__question {
    inline-size: 236px;
  }

  .faq__section:nth-child(3)
  .faq__answer {
    grid-column: 2;
  }

  /* gallery */
  
  .gallery {
    padding-block-start: 26px;
  }

  .gallery__list {
    padding-block-start: 20px;
    padding-block-end: 22px;
    grid-template-areas: 
    "sunset sunset icecream"
    "tape books icecream"
    "tape street street";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    gap: 19px;

  }

  .gallery__item:nth-child(1) {
    grid-area: sunset;
  }

  .gallery__item:nth-child(2) {
    grid-area: icecream;
    min-block-size: 442px;
  }

  .gallery__item:nth-child(3) {
    grid-area: tape;
    min-block-size: 565px;
  }



  .gallery__item:nth-child(5) {
    grid-area: street;
    min-block-size: 310px;
  }

  .footer {
    min-block-size: 1020px;
  }
}
