@media (width >= 1024px) {
  .header__decoration::before {
    content: 'REC';
    position: absolute;
    right: 50px;
    top: 20px;
  }

  .header__theme-menu {
    justify-content: center;
    grid-row: 1;
    padding-block-start: 18px;
    padding-inline-end: 26px;
    block-size: 130px;
  }


  .header__theme-menu-button{
    inline-size: 70px;
  }
  
  .header__theme-menu-list {
    flex-direction: row;
  }
  
  .header__theme-menu-item:last-child {
    padding-block-start: 2px;
  }

  .header__theme-menu-button {
    padding-inline: 0px;
  }

  
  .header__title {
    block-size: 212px; 
    font-size: 152px;
    word-spacing:0px;
    letter-spacing: 3px;
    block-size: 220px;
  }

  .header__subtitle {
    block-size: 227px;
  }

  .header__subtitle-question {
    block-size: 71px;
    inline-size: 491px;
  }


  /* main */

  .main {
    padding-block-start: 30px;
  }

  /* faq */

  .faq__section:first-of-type {
    display: grid;
    grid-template-columns: 0.52fr 1fr;
    padding-block-start: 30px;
  }

  .faq__section:first-of-type
  .faq__question {
    inline-size:306px;
    word-spacing: 0px;
  }

  .faq__section:nth-of-type(2)
  .faq__question {
    inline-size: 306px; 
  }

  .faq__section:nth-of-type(2) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .faq__section:nth-of-type(2)
  .faq__question {
    block-size: 49px;
  }

  .faq__section:nth-of-type(2)
  .faq__answer:nth-of-type(1) {
    grid-column: 1;
    margin: 0px;
  }

  .faq__section:nth-of-type(2)
  .faq__answer:nth-child(3) {
    margin: 0;
  }


  .faq__section:nth-child(3){
    display: grid;
    grid-template-columns: 0.50fr 1fr;
  }

  .faq__section:nth-child(3)
  .faq__question {
    inline-size: 336px;
    margin-block-start: -4px;
  }

  .faq__section:nth-child(3)
  .faq__title {
    margin-block-start: -5px;
  }

  /* gallery */

  .gallery__list {
    grid-template-rows: repeat(3, min-content);
    gap: 17px;
  }

  .gallery__item:nth-child(5) {
    grid-area: street;
    block-size: 425px;
  }

  /* footer */

  .footer {
    margin-block-start: 60px;
    block-size: 768px;
  }
  

  .footer__title {
    font-size: 9.8rem;
    padding-block-start: 282px;
  }
}