/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/


:root {
  --font-family-main: 'IBM Plex mono', monospace;
  --font-size-paragraph: 18px;
  --font-weight-paragraph: 1rem;
  --font-line-height: 23.4px;
  --font-size-title-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size-title-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --font-lh-h1: clamp(5.98125rem, 4.7595rem + 5.2126vw, 8.095625rem);
  --font-lh-main: 1,46rem;
  --font-size-decoration: 1.125rem;
  --font-lh-decoration: 1.56rem;
  --decorated-zone-padding-bottom: 20px;

  --active-color: #FF0070;
  --question-color: #FF0070;
  --decoration-color: #FF0070;
  --accent-color: #FF0070; 
  --menu-color: #FF0070;
  --bg-color: #000028;
  --faq-text-color: #F1B2CE;
  --faq-tittle-color: #000028;
  --title-decor-font: #000028;
  --font-color: #F1B2CE;
  --menu-item-hover-color: #660045;
  --menu-item-focus-color: #FF0070;
  --link-focus-color: #F1B2CE;
  --font-title-color: #DB00FF;
  --cover-image: url(../images/cover-image-dark.png);

}